<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= @title || "Art Inventory" %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <% if @flash %>
        <div class="<%= @flash[:type] %>"><%= @flash[:message] %></div>
      <% end %>

      <%= yield %>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>

