<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title>🎨 Art Inventory</title>
  <link rel='stylesheet' href='/css/style.css'>
</head>
<body>
  <header>
    <h1>🎨 Art Inventory</h1>
    <nav><a href='/'>Home</a> | <a href='/new'>Add New</a> | <a href='/export'>Export</a></nav>
  </header>
  <main class='container'>
    <%= yield %>
  </main>
  <script src='/js/script.js' defer></script>
</body>
</html>
